/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
.logoContainer{
    display: flex;
}
.logo{
   width: 100px;
   height: 100px; 
}
header{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 30px;
    position: relative;
}
nav ul{
    border: 1px solid;
    display: flex;
    gap: 50px;
}
nav li{
    transition: all 0.3s linear;
}
nav li:hover{
    transform: scale(1.5);
}
#chk{
    z-index: -1;
}
.menuBar{
    visibility: hidden;
    color: white;
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 40px;
}

@media screen and (max-width: 700px) {
    .menuBar{
        visibility: visible;
    }
    header{
        flex-direction: column;
        align-items: flex-start;
    }
    nav{
        width: 100%;
        display: none;
    }
    nav ul{
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    nav li{
        padding: 30px;
    }
    #chk:checked+nav{
        display: block;
    }
}